.vertical-align-helper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -5px
}

.vertical-align-helper > [class*=vertical-align--] {
    display: inline-block;
    width: 100%
}

.background-color--red {
    background-color: red;
}

.background-color--blue {
    background-color: blue;
}